# ACT. PREPROCESAMIENTO
Chiara Bombardieri Balanzá - A01659462  
Gerardo Javier Lopez García - A01660262

# Hipótesis
A mayor inversión económica en la producción, mayor será el rating del anime.

# Preprocesamiento de datos

In [10]:
import pandas as pd 
anime= pd.read_csv('most_watched_anime_dataset_100_entries.csv')
anime

,Anime Name,Most Watched in Country,Ratings,Number of Episodes,Animation Studio Name,Budget (in Million USD),Release Year,Genre,Duration per Episode (minutes)
0,Fullmetal Alchemist,Brazil,8.8,317.0,Ufotable,80.61,1998.0,Fantasy,NaN
1,Haikyuu!!,Mexico,9.2,420.0,MAPPA,74.99,2022.0,Adventure,59.0
2,NaN,South Korea,7.4,419.0,A-1 Pictures,59.05,2009.0,Mystery,56.0
3,Bleach,Brazil,6.4,NaN,Ufotable,45.35,2002.0,Fantasy,55.0
4,Sword Art Online,NaN,9.8,327.0,Madhouse,15.90,2017.0,NaN,43.0
...,...,...,...,...,...,...,...,...,...
95,Tokyo Ghoul,Philippines,6.5,499.0,NaN,40.62,NaN,Psychological,51.0
96,Attack on Titan,Brazil,8.8,248.0,Pierrot,54.69,1993.0,Sci-Fi,57.0
97,NaN,Argentina,8.2,384.0,Madhouse,39.73,2014.0,NaN,52.0
98,Jujutsu Kaisen,India,7.2,396.0,Pierrot,68.53,1992.0,Sci-Fi,42.0
99,My Hero Academia,Thailand,7.7,283.0,Studio Ghibli,5.82,2021.0,Fantasy,34.0

In [ ]:
anime_ratings=

# EDA

# Conclusión